html {
  font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  background-color: bisque;
}
h1 {
  padding-top: 50px;
  font-size: 60px;
  text-align: center;
  color: blue;
}
.left {font-size: 30px;
  text-align: left;
  color: navy;
  margin-left: 120px}
.right {font-size: 30px;
  text-align: right;
  color: navy;
  margin-right: 50px}
.rightmanuel {font-size: 30px;
  text-align: right;
  color: navy;
  margin-right: 160px}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
.scroll{text-align: center;}
.US {color: red;}
.Immigration {color: white;}
.data {color: blue;}

.clearfix {
  overflow: auto;
  margin-left: 100px;
  margin-right: 100px;
}

  .imgleft {float: left;
  margin: 0 20px 15px 20px;
  padding: 0px;
  
  }
  .imgright {float: right;
  margin: 0 20px 15px 20px;
  padding: 0px;
  
  }
#google_translate_element{
    position: relative;
    left: 580px;
    width: 400px;