html {
  font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  background-color: bisque;
}
h1 {
  padding-top: 50px;
  font-size: 60px;
  text-align: center;
  color: blue;
}
h2 {font-size: 25px;
  text-align: left;
  color: blueviolet;}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
.scroll{text-align: center;}
#datawrapper-chart-CGsV2{background-color: bisque;}
#google_translate_element{
    position: relative;
    left: 580px;
    width: 400px;